body {
  margin: 0;
}
.fa-phone-alt,
.fa-envelope {
  color: green;
}
.phone-icon > span {
  font-weight: 700;
  font-size: 18px;
  margin-left: 3px;
}
.phone-icon {
  padding-bottom: 10px;
  padding-top: 15px;
  border-right: 1px solid black;
  padding-left: 40px;
  padding-right: 10px;
}
.green {
  color: green;
}
.email-icon > span {
  font-weight: 700;
  font-size: 18px;
  margin-left: 3px;
}
.email-icon {
  padding-left: 40px;
  padding-right: 150px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.social-icon {
  padding-left: 300px;
}

.fa-cart-plus {
  color: black;
  border: 1px solid black;
  font-size: 14px;
  padding: 10px;
}
.fab {
  color: white;
  background-color: green;
  padding: 10px;
}
.icon {
  border-bottom: 1px solid black;
  margin-bottom: 17px;
  margin-top: 0px;
}
.nav li {
  list-style: none;
  padding: 10px 10px;
  font-weight: 700;
  font-size: 17px;
  margin-left: 20px;
  margin-right: 20px;
}
.nav li:hover {
  background-color: green;
  color: white;
}
.nav ul {
  display: flex;
}
.nav img {
  width: 80%;
  padding-left: 30px;
}
.navigation {
  display: flex;
}
.fa-search {
  background-color: green;
  color: white;
  padding: 10px;
}
.search {
  margin-top: 18px;
  margin-left: 30px;
}
.nav {
  padding-bottom: 20px;
}

.li-1 {
  background-color: green;
  color: white;
}
.save {
  font-size: 70px;
  font-weight: 800;
}
.day {
  font-size: 45px;
  font-weight: 500;
}
.first-part {
  display: flex;
}
.environment-day {
  width: 50%;
  background-color: rgb(250, 249, 243);
  padding-left: 40px;
}
.environment-day img {
  width: 100%;
}
.environment-day > p {
  font-size: 18px;
  font-weight: 500;
}
.link-button {
  text-decoration: none;
  font-size: 18px;
  color: white;
  background-image: linear-gradient(green, rgb(79, 192, 14));
  padding: 8px 15px;
  border-radius: 10px;
  border: 1px solid black;
}
.second-part > h1 {
  font-size: 35px;
  font-weight: 600;
}
.second-part > p {
  font-size: 18px;
  font-weight: 500;
}
.second-part {
  padding-left: 42px;
  padding-right: 42px;
  margin-top: 80px;
}
.green-project {
  width: 420px;
  height: 520px;
  border: 1px solid black;
  margin: 30px 10px;
}
.first-img img {
  height: 275px;
}
.green-planet img {
  width: 100%;
}
.para {
  padding-left: 15px;
}
.details-button {
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-image: linear-gradient(green, rgb(79, 192, 14));
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid black;
}
.project {
  padding-left: 40px;
  margin-top: 80px;
}
.project > h1 {
  font-size: 30px;
  font-weight: 600;
}
.all-project {
  display: flex;
  flex-wrap: wrap;
}
