body {
  margin: 0;
}
.fa-phone-alt,
.fa-envelope {
  color: green;
}
.phone-icon > span {
  font-weight: 700;
  font-size: 18px;
  margin-left: 3px;
}
.phone-icon {
  padding-bottom: 7px;
  padding-top: 15px;
  border-right: 1px solid black;
  padding-left: 40px;
  padding-right: 10px;
}
.green {
  color: green;
}
.email-icon > span {
  font-weight: 700;
  font-size: 18px;
  margin-left: 3px;
}
.email-icon {
  padding-left: 40px;
  padding-right: 150px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.social-icon {
  color: green;
  font-size: 40px;
  padding-left: 350px;
  margin-bottom: 0;
}
.fa-cart-plus {
  color: black;
  border: 1px solid black;
  font-size: 20px;
  padding-left: 4px;
  padding-right: 7px;
  padding-top: 14px;
}
.icon {
  border-bottom: 1px solid black;
  margin-bottom: 50px;
}
.nav li {
  list-style: none;
  padding: 10px 10px;
  font-weight: 700;
  font-size: 17px;
  margin-left: 20px;
  margin-right: 20px;
}
.nav li:hover{
    background-color: green;
    color: white;
    
}
.nav ul {
  display: flex;
}
.nav img {
  width: 80%;
  padding-left: 30px;
  ma
}
.navigation {
  display: flex;
}
.fa-search {
  background-color: green;
  color: white;
  padding: 10px 10px;
  margin-left: 100px;
  
}
.nav {
  padding-bottom: 20px;
}

.li-1{
    background-color: green;
    color: white;
}